<script lang="coffee">
export default {
  name: 'artworkIndex'
  data: ->
    artworks: []
    perPage: 9
    currentPage: 1

  computed:
    pages: () ->
      Math.ceil @artworks.length / @perPage

    filteredArtworks: () ->
      start = (@currentPage-1) * @perPage
      end = start + @perPage
      @artworks.slice start, end

  created: ->
    @$http.get('/api/artworks').then (res) -> @artworks = res.data

  methods:
    onPageClick: (page) -> @currentPage = page

    onActiveChange: (artwork) ->
      url = '/api/artworks/' + artwork.id
      body = active: !artwork.active
      @$http.put(url, body)
}
</script>

<template lang="haml" src="./index.haml"></template>
<style lang="scss" src="./index.scss"></style>
