.artwork-list
  %md-button.md-fab.md-fab-top-right{href: '/artworks/add'}
    %md-icon add
  %md-layout{'md-gutter': 16}
    %md-layout{'v-for': 'artwork in filteredArtworks', ':key': 'artwork.id', 'md-flex': 33}
      %md-card
        %md-card-media-cover{'md-solid': true}
          %md-card-media{'md-ratio': '1:1'}
            %router-link{':to': '"/artworks/" + artwork.id'}
              %md-image{':md-src': 'artwork.image'}
          %md-card-area
            %md-card-header
              %router-link{':to': '"/artworks/" + artwork.id'}
                .md-title {{artwork.title}}
                .md-subhead {{artwork.artist.name}}
            %md-card-actions
              %md-switch.md-primary{'v-model': 'artwork.active', ':id': '"active" + artwork.id', '@change': 'onActiveChange(artwork)'} Publish
  %ul.pages{':v-if': 'pages.length'}
    %li{'v-for': 'page in pages', '@click': 'onPageClick(page)'} {{page}}
