$swift-ease-in-duration: .3s !default;
$swift-ease-in-timing-function: cubic-bezier(.55, 0, .55, .2) !default;
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function !default;

.artwork-form {
  padding: 16px;

  .md-card {
    overflow: visible;
  }

  .md-switch {
    width: 100%;
  }

  .date {
    width: 100%;
    padding: 0;
    min-height: 32px;

    .vdp-datepicker {
      width: 100%;
    }

    input {
      font-size: 16px;
      color: #000;
      height: 32px;
      border-color: #ccc;
      border-width: 0 0 1px;
    }

    &.md-input-invalid {
      input::placeholder {
        color: #ff5722;
      }
    }
  }

  .mediums {
    .md-error {
      height: 20px;
      position: absolute;
      bottom: 0;
      font-size: 12px;
      display: block !important;
      left: 0;
      opacity: 0;
      transform: translate3d(0, -8px, 0);
      transition: $swift-ease-in;
    }

    &.md-input-invalid {
      .md-input-container:after {
        background-color: #ff5722;
      }

      input::placeholder {
        color: #ff5722;
      }

      .md-error {
        color: #ff5722;
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    width: 100%;
    position: relative;

    .typeahead {
      width: 100%;
      border: 1px solid #ccc;
      border-top: 0;
      background: #fff;
      left: 0;
      top: 58px;
      position: absolute;
      z-index: 10;

      &,
      li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
      }

      li {
        padding: 5px 9px;

        &:hover {
          background: #ccc;
        }
      }
    }
  }
}
