%form.artwork-form{'@submit.prevent': 'onSubmit'}
  %md-card
    %md-layout{'md-tag': 'md-card-media-actions'}
      %md-layout{'md-tag': 'md-card-media'}
        %md-image{':md-src': 'artwork.image'}
      %md-layout{'md-tag': 'md-card-actions'}
        %md-switch.md-primary{'v-model': 'artwork.active', 'id': 'active'} Publish
        %md-input-container{':class': 'inputClass("title")'}
          %label Title *
          %md-input{'v-model': 'artwork.title', 'data-vv-name': 'title', 'v-validate': '"required"'}
          .md-error {{errors.first('title')}}
        %md-input-container{':class': 'inputClass("image")'}
          %label Image *
          %md-input{'v-model': 'artwork.image', 'data-vv-name': 'image', 'v-validate': '"required"'}
          .md-error {{errors.first('image')}}
        %md-input-container{':class': 'inputClass("artist")'}
          %label Artist *
          %md-select{'v-model': 'artwork.artist_id', 'data-vv-name': 'artist', 'v-validate': '"required"'}
            %md-option{'v-for': 'artist in artists', ':key': 'artist.id', ':value': 'artist.id'} {{artist.name}}
          .md-error {{errors.first('artist')}}
        %md-input-container.date{':class': 'inputClass("date")'}
          %datepicker{'v-model': 'artwork.date', 'data-vv-name': 'date', 'v-validate': '"required"', 'placeholder': 'Date *'}
          .md-error {{errors.first('date')}}
        .mediums{':class': 'inputClass("medium_list")'}
          %md-chips{'v-model': 'artwork.medium_list', 'data-vv-name': 'medium_list', 'v-validate': '"required"', 'md-input-placeholder': 'Mediums *', '@keyup.native': 'onMediumsKeyup', '@change': 'onMediumsChange'}
            %template{'scope': 'chip'} {{chip.value}}
          %ul.typeahead{'v-show': 'filteredMediums.length'}
            %li{'v-for': 'medium in filteredMediums', '@click': 'onTypeaheadClick'} {{medium}}
          .md-error {{errors.first('medium_list')}}
    %md-card-actions
      %md-button{'href': '/artworks'} Cancel
      %md-button.md-primary{'type': 'submit'} Save
