#app
  %md-toolbar
    %md-button.md-icon-button{'@click.native': 'toggleSidenav'}
      %md-icon menu
    %h2.md-title {{$route.meta.title}}

  %router-view

  %md-sidenav.md-left{ref: 'sidenav'}
    %md-list
      %md-list-item{'href': '/'} Artworks
      %md-list-item{'href': '/artists'} Artists
