<script lang="coffee">
export default {
  name: 'app'
  methods:
    toggleSidenav: -> this.$refs.sidenav.toggle()
}
</script>

<template lang="haml" src="./app.haml"></template>
<style lang="scss" src="./app.scss"></style>
