.artist-list
  %md-button.md-fab.md-fab-top-right{href: '/artists/add'}
    %md-icon add
  %md-list
    %md-list-item{'v-for': 'artist in artists', ':key': 'artist.id', ':href': '"/artists/" + artist.id'}
      %md-avatar.md-large
        %md-image{':md-src': 'artist.image'}
      %span {{artist.name}}
