<script lang="coffee">
export default {
  name: 'artistIndex'
  data: ->
    artists: []
  created: ->
    @$http.get('/api/artists').then (res) -> @artists = res.data
}
</script>

<template lang="haml" src="./index.haml"></template>
<style lang="scss" src="./index.scss"></style>
