<script lang="coffee">
export default {
  name: 'artistShow'
  data: ->
    artist:
      name: ''
      image: ''

  created: ->
    if @$route.params.id
      @$http.get('/api/artists/' + @$route.params.id).then (res) ->
        @artist = res.data

  methods:
    inputClass: (name) ->
      'md-input-invalid': @errors.has name

    onSubmit: ->
      @$validator.validateAll()
        .then =>
          config =
            url: '/api/artists'
            method: 'post'
            body:
              name: @artist.name
              image: @artist.image

          if @$route.params.id
            config.url += '/' + @$route.params.id
            config.method = 'put'

          @$http(config).then (res) ->
            @$router.push '/artists'

        .catch ->
}
</script>

<template lang="haml" src="./show.haml"></template>
<style lang="scss" src="./show.scss"></style>
