%form.artist-form{'@submit.prevent': 'onSubmit'}
  %md-card
    %md-layout{'md-tag': 'md-card-media-actions'}
      %md-layout{'md-tag': 'md-card-media'}
        %md-image{':md-src': 'artist.image'}
      %md-layout{'md-tag': 'md-card-actions'}
        %md-input-container{':class': 'inputClass("name")'}
          %label Name *
          %md-input{'v-model': 'artist.name', 'data-vv-name': 'name', 'v-validate': '"required"'}
          .md-error {{errors.first('name')}}
        %md-input-container{':class': 'inputClass("image")'}
          %label Image *
          %md-input{'v-model': 'artist.image', 'data-vv-name': 'image', 'v-validate': '"required"'}
          .md-error {{errors.first('image')}}
    %md-card-actions
      %md-button{'href': '/artists'} Cancel
      %md-button.md-primary{'type': 'submit'} Save
